body{
    margin:0;
    padding: 0;
    background: orange;
}

div{
    background-image: url("./pelea.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center
}

div *{
    margin: 10px;
}

